In [1]:
import pandas as pd

In [4]:

df = pd.read_sql_table("tweets", 'sqlite:///datos.sqlite')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   3 non-null      int64
 1   a       3 non-null      int64
 2   b       3 non-null      int64
dtypes: int64(3)
memory usage: 200.0 bytes

In [6]:
df

   index  a  b
0      0  1  5
1      1  2  6
2      2  3  7