In [1]:
import pandas as pd

In [2]:
datos = {'a':[1,2,3],'b':[5,6,7]}

In [3]:
df = pd.DataFrame(datos)

In [4]:
df

   a  b
0  1  5
1  2  6
2  3  7

In [5]:
import sqlite3

In [6]:
db = sqlite3.connect('datos.sqlite')

In [7]:
df.to_sql("tweets", db)